<%= link_to "Back to All Articles", articles_path %>

<h1><%= @article.title %></h1><br >

<p><%= @article.body%></p><br>

<% if !@article.picture.nil? %>
    <%= image_tag @article.picture.url(:medium) %>
<% end %>


<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li><br>
    <li><%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<br>

<h2>Comments</h2>
<%= render @article.comments %>

<br/>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>